extends ../../layout/template

block content
    h4 Login
    if errors 
        each error in errors
            .alert.alert-danger= error
    form(action='/auth/login', method="POST")
        .from-group
            label Email
            input.form-control(type="email", name="email" value = values ? values.email : "")
        .from-group
            label Password
            input.form-control(type="password", name="password")

        button.btn.btn-primary(class="mt-4") Login
    a.btn.btn-light(class="mt-2", href="signup") Signup
