extends ../../layout/template

block content
    h4(class="ml-4") View User
    table.table
        tr
            th Name
            th Phone
        tr  
            td= user.name
            td= user.phone
